
@media (min-width:1024px){
    .about-top{
        display:flex;
    }
    .about-middle{
        display: flex;
    }
}

.about-top{
    flex:1;
    margin-left: 10em;
    gap: 3em;
}

.about-top-img{
    margin-top: 5em;
    margin-right: 10em;
    flex:1;
    max-width: 70%;
    height: auto;
    object-fit: cover;
}


@media (max-width:1024px){
    .about-top-img{
        margin-left: 0;
    }

    .about-top{
        font-size: 1.5rem;
    }

}

