@media (min-width:600px){
  .products .box-container .box{
    width: 100%;
    flex: 1 1 20rem;
    border-radius: 0.5rem;
    border:0.1rem solid #FF9954;
  }

  .submit-button {
    font-size: 1.25rem;
    margin-top: 10%;
  }
}

@media (max-width:600px){

  .box-container h3{
    font-size: 2rem;
  }

  .box-container p{
    font-size: 2rem;
}

  .price{
    font-size: 2rem;

}

.flex_container{
  flex-wrap: wrap;
}

}



header{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: sticky;
	top: 2em;
	left: 0;
	right: 0;
	z-index: 10;
}

.small_img{
  flex-direction: row;
}

.small_img img{
  width: 20%;
}

.logo{
  float: left;
  margin: auto;
  width: 2rem;
  height: 2rem;
}

header::after{
  content:'';
  display: table;
  clear:both;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 2rem;
  font-family: meta;
  background-color: #000;
}


footer{ 
  background-color: #C6AF92;
  margin-top: 40px;
  flex-wrap: wrap;
}

footer p{
  font-size: 1rem;
  color:#000;
  margin-left: 40px;
}

footer a{
  font-size: 1rem;
  color: #FFF;
}

footer > div {
  width: 100%;
  text-align: center;
  line-height: 30px;
}


.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}




.container{
  width: 80%;
  margin: 0 auto;
}

nav{
  float: right;
}

nav ul{
  margin:0;
  padding:0;
  list-style: none;
}

nav li{
  display:inline-block;
  margin-left: 3.5rem;

  position:relative;
}


#nav-items a, #nav-toggle a{
  font-family: meta;
  color:#C6AF92;
  text-decoration: none;
  font-size: .9em;
}


#nav-toggle a:hover{
  color:#FF9954;
}

#nav-toggle.hidden, #nav-items.hidden{
  visibility: hidden;
  display: none;

}

#nav-items a:hover{
  color: #FF9954;
}

#nav-items a::before{
  content:'';
  display: block;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 1.3rem;
  width: 0%;

  transition: all ease-in-out 300ms;
}

nav a:hover::before{
  width: 100%;
}

label{
  color: #FFF;
}

h1 {
  font-family: egostalight;
	font-size: 3rem;
  color: #FF9954;
  margin-top: 2.5em;
}

h2 {
  font-family: egostalight;
	font-size: 2.25rem;
  color: #C6AF92;
  margin-top: 5%;
}

h3{
  font-family: egostalight;
	font-size: 1.75rem;
  color: #C6AF92;
  padding: 2%;
}

h4{
  font-family: meta;
	font-size: 1.25rem;
  color: #C6AF92;
}

p {
  font-family: meta;
  font-size: 1rem;
  color: #cccaca;
}


div {
	box-sizing: content-box;
	padding: 0rem;
	margin: 0rem;
}

a{
  color:#C6AF92;
  text-decoration: none;
}

a:hover,
a:focus,
a:active{
  color:#FF9954;
  opacity: 100%;
  text-decoration:none;
}

img {
  max-width: 100%;
  height: auto;
}



 /*-------Style Guide------*/



.submit-button {
  background-color: #C6AF92;
  max-width: 50rem;
  border: none;
  color: white;
  padding: 1rem 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 1rem; */
  font-family: meta;
  transition-duration: 0.3s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #FF9954
}

.reset-button {
  background-color: transparent;
  max-width: 50rem;
  border: 1px solid #C6AF92;
  color: #C6AF92;
  padding: 1rem 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font-family: meta;
  transition-duration: 0.3s;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #FF9954;
}

.radio{
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  color: #C6AF92;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.radio + .radio{
  margin-left: 20px;
}

.radio input[type="radio"]{
  display: none;
}

.radio span{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 2px solid #C6AF92;
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
}

.radio span:after{
  content: "";
  height: 8px;
  width: 8px;
  background: #C6AF92;
  display: block;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

.radio input[type="radio"]:checked ~ span:after{
  transform: translate(-50%, -50%) scale(1);
}

.image_link a {
  display: inline-block;
  width: 20rem;
  height: auto;
}

.image_link a:hover img {
  opacity: 0.8;
  border: 0.2rem solid #C6AF92;
}

ol {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

ol li {
  margin-bottom: 10px;
  font-family: meta;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  background-color:#9999
}
.typography {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-basis: calc(50% - 10px);
  color: #74774E;
  font-family: meta;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.text_input{
  width: 100%;
  max-width: 24rem;
}




/*----Products session----*/
.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  opacity: 0.8;
  width: 100%;
  border-radius: 0.5rem;
  border:0.1rem solid #C6AF92
}

.products .box-container .box:hover{
  opacity: 1;
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  border:0.1rem solid #FF9954
}

.project_title{
  text-align: center;
}

.process_analysis{
  padding: 7em;
}

.image_container{
  gap: 1em;
}

.flex_container{
  display: flex;
  gap: 1em;
}

/*
td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
 } */


 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.neon_button a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 40px 0;
    color: #FF9954;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 50px;
    font-size: 0.75em;
}

.neon_button a:hover{
    background: #FF9954;
    color: #000000;
    box-shadow: 0 0 5px #FF9954,
                0 0 25px #FF9954,
                0 0 50px #FF9954,
                0 0 200px #FF9954;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.neon_button a span{
    position: absolute;
    display: block;
}
.neon_button a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FF9954);
    animation: animate1 3s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.neon_button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FF9954);
    animation: animate2 3s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.neon_button a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FF9954);
    animation: animate3 3s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.neon_button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FF9954);
    animation: animate4 3s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


/*home*/


.content{max-width:70%; max-height:50%;margin:10px auto;}

.welcomeText{ width:100%; }
/*welcome text*/
.welcome{
  height:20%;
  width: 100%;
  position:relative;
  text-align: center;
}

.greet{
  width:100%;
  height:20%;
  position:absolute;
  right: 85%;
  transition:all .5s;
  color: #FF9954;
}

/*taglines*/
.subText{
  width:100%;
  height:20px;
  position:relative;
  overflow:hidden;
}
.subText p{
  height:100%;
  color: #777;
  line-height:20px;
  text-align:center;
}
.subTexts{
  width:100%;
  position:absolute;
  bottom:100%;
  transition:all .5s;
}



/*Selected_Project*/
.follow{
  height: 39em;
  position:relative;
}
.followUs{
  width:40%;
  height: 100%;
  position:absolute;
  right: 70%;
  bottom:100%;
  transition:all .8s;
}


.follow2{
  margin-top: 100px;
  height: 15em;
  position:relative;
}
.followUs2{
  width:40%;
  height: 100%;
  position:absolute;
  right: 70%;
  bottom:100%;
  transition:all .8s;
}

.follow3{
  height:200px;
  position:relative;
}
.followUs3{
  width:20%;
  height:20%;
  position:absolute;
  top:700px;
  left: 85%;
  transition:all .8s;
}

 
@media screen and (max-width:600px){
  .welcome{border-radius:20px 20px 0 0;}
  .subText{border-radius:0 0 20px 20px;}
  .sub{border:1px solid;}
  .greet{font-size:30px}
  .subTexts p {font-size:16px;}
}

