@media (max-width:600px){
    .style-guide-row{
        flex-direction: column;
    }
}

img {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.container.align-content-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.justify-content-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  margin-top: 144px;
  margin-bottom: 144px;
}

.section.fullscreen-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.panel {
    border-radius: 12px;
  }

.panel.style-guide-color-swatch {
  width: 96px;
  height: 96px;
  margin-bottom: 12px;
}

.panel.section {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 108px;
  padding-bottom: 108px;
}

.panel.bg-white.panel-on-image {
  position: absolute;
  right: 24px;
  bottom: 24px;
  max-width: 384px;
}

.panel.panel-wide {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.panel.grid-panel {
  height: 100%;
}

.style-guide-container {
  margin-left: 3em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.33fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.style-guide-row {
  gap: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.style-guide-content-item {
  margin-right: 24px;
  margin-bottom: 24px;
}

.style-guide-content p{
    margin-bottom: 3em;
}

.style-guide-content-item img{
  width: 20%;
}


.bg-primary-1 {
  background-color: #FF7A00;
}

.bg-primary-2 {
  background-color: #C6AF92;
}

.bg-primary-3 {
  background-color:#f1b53b; 
}

.bg-primary-4 {
  background-color: #b4c19c;
}

.bg-black {
  background-color: #000;
}

.bg-gray {
  background-color: #888;
}

.bg-white {
  background-color: #fff;
}

.style-guide-section {
  margin-top: 48px;
  margin-bottom: 48px;
}

.center-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.panel-body-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel-body-small {
  padding: 24px;
}


.rounded {
  border-radius: 12px;
}



.style-guide-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

@media (max-width: 991px) {
  blockquote {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .section {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .section.section-small {
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .panel.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .panel.section.hero-panel {
    min-height: 50vh;
  }
  .panel.panel-wide {
    max-width: 612px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .panel.wide-case-study-panel {
    max-width: 612px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .style-guide-container {
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .style-guide-content-item {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  body {
    padding-bottom: 24px;
  }
  .style-guide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  body {
    padding-bottom: 12px;
  }
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
  .section.section-small {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .panel {
    border-radius: 6px;
  }
  .panel.section {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.reference{
  padding: 4em;
}

.reference p{
  font-size: 0.75em;
}
